 <!-- Sub header -->
 <div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="address">
        <ul class="list">
          <li>
            <i class="fa fa-envelope"></i>
            <span>info@company.com</span>
          </li>
          <li>
            <i class="fa fa-map"></i>
            <span> Sunny Isles Beach, FL 33160</span>
          </li>
        </ul>
      </div>
      <div class="social-icon">
        <ul class="list social-link">
          <li>
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>

          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>

          <li>
            <a href="#">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>

          <li>
            <a href="#">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- main header -->
<header>
  <nav class="nav collapsible container">
    <a href="index.html" class="logo">
      <h1>Villa</h1>
    </a>

    <svg class="icon nav__toggler">
      <use xlink:href="images/sprite.svg#menu"></use>
    </svg>

    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="#">Home</a></li>
      <li class="nav__item"><a href="#">Properties</a></li>
      <li class="nav__item"><a href="#">Property Details</a></li>
      <li class="nav__item"><a href="#">Contact US</a></li>
    </ul>
    <button class="menu--button">
      <i class="fa fa-calendar"></i>
      visit a scheldule
    </button>
   
  </nav>
</header>

<!-- Hero -->
<section>
  <div class="hero hero--image">
    <div class="container">
      <div>
        <header class="hero--content">
          <span class="category">
            Toronto,
            <em>Canda</em>
          </span>
          <h2>
            Hurry!
            <br />
            Get the best Villa for you
          </h2>
        </header>
      </div>
    </div>
  </div>
</section>

<!-- Feature Block -->
<section>
  <div class="container">
    <div class="feature">
      <!-- <div class="image-holder"> -->
      <div class="feature--image">
        <img src="/images/featured.jpg" alt="" />
        <a class="feature--icon" href="">
          <img src="/images/featured-icon.png" alt="" srcset="" />
        </a>
      </div>
      <!-- </div> -->

      <div class="feature--content">
        <h6>| featured</h6>
        <h2>Best Appartment & Sea View</h2>

        <div class="collapse">
          <div class="collapsible">
            <header class="collapsible__header">
              <h2 class="collapsible__heading">Best useful link?</h2>
            </header>
            <div class="collapsible__content">
              Get the best villa website template in HTML CSS and Bootstrap
              for your business. TemplateMo provides you the best free CSS
              templates in the world. Please tell your friends about it.
            </div>
          </div>

          <div class="collapsible">
            <header class="collapsible__header">
              <h2 class="collapsible__heading">Best useful link?</h2>
            </header>
            <div class="collapsible__content">
              Get the best villa website template in HTML CSS and Bootstrap
              for your business. TemplateMo provides you the best free CSS
              templates in the world. Please tell your friends about it.
            </div>
          </div>

          <div class="collapsible">
            <header class="collapsible__header">
              <h2 class="collapsible__heading">Best useful link?</h2>
            </header>
            <div class="collapsible__content">
              Get the best villa website template in HTML CSS and Bootstrap
              for your business. TemplateMo provides you the best free CSS
              templates in the world. Please tell your friends about it.
            </div>
          </div>
        </div>
      </div>

      <div class="feature--info-table">
        <ul class="list">
          <li>
            <img src="/images/info-icon-01.png" alt="" />

            <h4>
              250 m2
              <br />
              <span>Total Flat Space</span>
            </h4>
          </li>
          <li>
            <img src="/images/info-icon-02.png" alt="" />
            <h4>
              Contract
              <br />
              <span>Contract Ready </span>
            </h4>
          </li>
          <li>
            <img src="/images/info-icon-03.png" alt="" />
            <h4>
              Payment
              <br />
              <span>Payment Process </span>
            </h4>
          </li>
          <li>
            <img src="/images/info-icon-04.png" alt="" />
            <h4>
              Safety
              <br />
              <span>24/7 Under Control </span>
            </h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Video section -->
<section>
  <div class="video-section video--adjust">
    <div class="container-video">
      <div class="video__content">
        <h6>| VIDEO VIEW</h6>
        <h2>Get Closer View & Different Feeling</h2>
      </div>
    </div>
  </div>

  <div class="video container">
    <div class="container-video">
      <div class="video__frame">
        <img src="./images/video-frame.jpg" alt="" />
        <a href="#">
          <i class="fa fa-play"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Fun-facts -->
<section>
  <div class="fun-facts">
    <div class="container">
      <div class="fun-facts__table">
        <div class="fun-facts__counter">
          <!-- 1 -->
          <div class="fun-facts__content">
            <h2 class="fun-facts__heading">34</h2>
            <p class="fun-facts__paragraph">
              Buildings
              <br />
              Finished Now
            </p>
          </div>
        </div>
        <!-- 2 -->
        <div class="fun-facts__counter">
          <div class="fun-facts__content">
            <h2 class="fun-facts__heading">34</h2>
            <p class="fun-facts__paragraph">
              Buildings
              <br />
              Finished Now
            </p>
          </div>
        </div>
        <!-- 3 -->
        <div class="fun-facts__counter">
          <div class="fun-facts__content">
            <h2 class="fun-facts__heading">34</h2>
            <p class="fun-facts__paragraph">
              Buildings
              <br />
              Finished Now
            </p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>

<!-- Best deals -->
<section>
  <div class="deals">
    <div class="container">
      <div class="deals__content">
        <div class="deals__heading">
          <h6>| Best Deal</h6>
          <h2>Find Your Best Deal Right Now!</h2>
        </div>
      </div>
      <div class="deals__tabs-content container">
        <!-- menu tabs -->
       <div class="display__setting">
        <div class="nav-wrapper">
          <ul class="list nav-tabs">
            <li class="nav-item">
              <button>Appartment</button>
            </li>
            <li class="nav-item">
              <button>Villa House</button>
            </li>
            <li class="nav-item">
              <button>Penthouse</button>
            </li>
          </ul>
        </div>
        <!-- Details -->
        <div class="deals__tabs-content">
          <!-- Info table -->
          <div class="deals__info-table">
            <ul class="list">
              <li>
                Total Flat Space
                <span> 320 m2 </span>
              </li>
              <li>
                Floor number
                <span> 34th </span>
              </li>
              <li>
                Number of rooms
                <span> 6 </span>
              </li>
              <li>
                Parking Available
                <span> Yes </span>
              </li>
              <li>
                Payment Process
                <span> Bank </span>
              </li>
            </ul>
          </div>
          <!-- Imgae -->
          <div class="deals__image">
            <img src="/images/deal-01.jpg" alt="" />
          </div>
          <!-- Inner details -->
          <div class="deals_description">
            <h4>Extra Info About Penthouse</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, do
              eiusmod tempor pack incididunt ut labore et dolore magna
              aliqua quised ipsum suspendisse.
              <br />
              <br />
              wag fanny pack lyft blog twee. JOMO ethical copper mug,
              succulents typewriter shaman DIY kitsch twee taiyaki fixie
              hella venmo after messenger poutine next level humblebrag swag
              franzen.
            </p>
            <!-- Testing Button -->
            
              <button class="deals__button">
                <a href="#">
                <i class="fa fa-calendar"></i>
                visit a scheldule
              </a>
              </button>
             
         
          </div>
       </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Properties Details -->
<section>
  <div class="property">
    <div class="property--container">
      <div class="property__heading">
        <h6>| Property</h6>
        <h2>We provide the Best Property You Like</h2>
      </div>
     <div class="items">
       <!-- 1 -->
       <div class="properties__details">
        <div class="property__content">
          <a href="#">
            <img src="./images/property-01.jpg" alt="" />
          </a>
          <span>Luxury Villa</span>
          <h6>$2,264.000</h6>
          <h4>
            <a href="#">18 New Street Miami, OR 97219</a>
          </h4>
          <ul class="list">
            <li>
              Bedrooms:
              <span> 8 </span>
            </li>
            <li>
              Bathrooms:
              <span> 8 </span>
            </li>
            <li>
              Area:
              <span> 545m2 </span>
            </li>
            <li>
              Floor:
              <span> 3 </span>
            </li>
            <li>
              Parking:
              <span> 6 spots </span>
            </li>
          </ul>
          <div class="property__button">
            <a href="#">Schedule a Visit</a>
          </div>
        </div>
      </div>
      <!-- 2 -->
      <div class="properties__details">
        <div class="property__content">
          <a href="#">
            <img src="./images/property-01.jpg" alt="" />
          </a>
          <span>Luxury Villa</span>
          <h6>$2,264.000</h6>
          <h4>
            <a href="#">18 New Street Miami, OR 97219</a>
          </h4>
          <ul class="list">
            <li>
              Bedrooms:
              <span> 8 </span>
            </li>
            <li>
              Bathrooms:
              <span> 8 </span>
            </li>
            <li>
              Area:
              <span> 545m2 </span>
            </li>
            <li>
              Floor:
              <span> 3 </span>
            </li>
            <li>
              Parking:
              <span> 6 spots </span>
            </li>
          </ul>
          <div class="property__button">
            <a href="#">Schedule a Visit</a>
          </div>
        </div>
      </div>
      <!-- 3 -->
      <div class="properties__details">
        <div class="property__content">
          <a href="#">
            <img src="./images/property-01.jpg" alt="" />
          </a>
          <span>Luxury Villa</span>
          <h6>$2,264.000</h6>
          <h4>
            <a href="#">18 New Street Miami, OR 97219</a>
          </h4>
          <ul class="list">
            <li>
              Bedrooms:
              <span> 8 </span>
            </li>
            <li>
              Bathrooms:
              <span> 8 </span>
            </li>
            <li>
              Area:
              <span> 545m2 </span>
            </li>
            <li>
              Floor:
              <span> 3 </span>
            </li>
            <li>
              Parking:
              <span> 6 spots </span>
            </li>
          </ul>
          <div class="property__button">
            <a href="#">Schedule a Visit</a>
          </div>
        </div>
      </div>
      <!-- 4 -->
      <div class="properties__details">
        <div class="property__content">
          <a href="#">
            <img src="./images/property-01.jpg" alt="" />
          </a>
          <span>Luxury Villa</span>
          <h6>$2,264.000</h6>
          <h4>
            <a href="#">18 New Street Miami, OR 97219</a>
          </h4>
          <ul class="list">
            <li>
              Bedrooms:
              <span> 8 </span>
            </li>
            <li>
              Bathrooms:
              <span> 8 </span>
            </li>
            <li>
              Area:
              <span> 545m2 </span>
            </li>
            <li>
              Floor:
              <span> 3 </span>
            </li>
            <li>
              Parking:
              <span> 6 spots </span>
            </li>
          </ul>
          <div class="property__button">
            <a href="#">Schedule a Visit</a>
          </div>
        </div>
      </div>
      <!-- 5 -->
      <div class="properties__details">
        <div class="property__content">
          <a href="#">
            <img src="./images/property-01.jpg" alt="" />
          </a>
          <span>Luxury Villa</span>
          <h6>$2,264.000</h6>
          <h4>
            <a href="#">18 New Street Miami, OR 97219</a>
          </h4>
          <ul class="list">
            <li>
              Bedrooms:
              <span> 8 </span>
            </li>
            <li>
              Bathrooms:
              <span> 8 </span>
            </li>
            <li>
              Area:
              <span> 545m2 </span>
            </li>
            <li>
              Floor:
              <span> 3 </span>
            </li>
            <li>
              Parking:
              <span> 6 spots </span>
            </li>
          </ul>
          <div class="property__button">
            <a href="#">Schedule a Visit</a>
          </div>
        </div>
      </div>
      <!-- 6 -->
      <div class="properties__details">
        <div class="property__content">
          <a href="#">
            <img src="./images/property-01.jpg" alt="" />
          </a>
          <span>Luxury Villa</span>
          <h6>$2,264.000</h6>
          <h4>
            <a href="#">18 New Street Miami, OR 97219</a>
          </h4>
          <ul class="list">
            <li>
              Bedrooms:
              <span> 8 </span>
            </li>
            <li>
              Bathrooms:
              <span> 8 </span>
            </li>
            <li>
              Area:
              <span> 545m2 </span>
            </li>
            <li>
              Floor:
              <span> 3 </span>
            </li>
            <li>
              Parking:
              <span> 6 spots </span>
            </li>
          </ul>
          <div class="property__button">
            <a href="#">Schedule a Visit</a>
          </div>
        </div>
      </div>
     </div>
    </div>
  </div>
</section>
<!-- Contact Section -->
<section>
  <div class="property--container contact-container ">
    <div class="contact">
      <div class="container">
        <div class="contact__heading">
          <h6>| Contact Us</h6>
          <h2>Get In Touch With Our Agents</h2>
        </div>
      </div>
    </div>
    <div class="container-contact">
    <div class="contact--content">
      <div class="contact-us">
        <div class="contact__map">
          <div class="map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53580.286485128956!2d72.76544234299585!3d32.930729807292735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39205d0b0f9d67b3%3A0xfb3c76a4496ca679!2sChakwal%2C%20Punjab%2C%20Pakistan!5e0!3m2!1sen!2s!4v1694259814476!5m2!1sen!2s"
              width="100%"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <div class="details">
            <div class="details__item">
              <div class="phone__item">
                <img src="./images/phone-icon.png" alt="" />
                <h6>
                  010-020-0340
                  <br />
                  <span>Phone Number</span>
                </h6>
              </div>
              <div class="email__item">
                <img src="./images/email-icon.png" alt="" />
                <h6>
                  info@villa.co
                  <br />
                  <span>Business Email</span>
                </h6>
              </div>
            </div>
          </div>
        </div>
        <div class="contact-form">
          <div class="contact-form__fields">
            <form id="contact-form" action="action_page.php">
              <label for="fname">Full Name</label>
              <input
                type="text"
                id="name"
                name="name"
                placeholder="Your name.."
              />

              <label for="email">Email Address</label>
              <input
                type="text"
                id="email"
                name="emailaddress"
                placeholder="Email Address.."
              />

              <label for="subject">Subject</label>
              <input
                type="text"
                id="subject"
                name="subject"
                placeholder="subject.."
              />

              

              <label for="Message">Message</label>
              <textarea
                id="Message"
                name="message"
                placeholder="Write something.."
                style="height: 200px"
              ></textarea>

              <button type="submit">
                  Send Message
              </button>
              
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>




